<?xml version="1.0" encoding="utf-8"?>
<robot name="airship" >

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://airship_model/meshes/airship.STL"/>
      </geometry>
      <material name="black">
        <color rgba=".5 .5 .5 .7"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://airship_model/meshes/airship.STL"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="474.181"/>
      <inertia ixx="5912.287"  ixy="-0.005"  ixz="0.008" iyy="12063.473" iyz="0.003" izz="11328.060" />
    </inertial>
  </link>

</robot>