<?xml version="1.0" encoding="utf-8"?>
<robot name="airship" >

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://airship_model/meshes/airship.STL"/>
      </geometry>
      <material name="black">
        <color rgba=".5 .5 .5 .7"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://airship_model/meshes/airship.STL"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="2934"/>
      <inertia ixx="393187"  ixy="0.0"  ixz="0.0" iyy="1224880" iyz="0.0" izz="939666" />
    </inertial>
  </link>

</robot>